@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100&family=Oswald:wght@200&family=Roboto+Condensed:wght@300&display=swap');

:root {
    --primary-white: #fff;
    --primary-purple: #8a868f;
    --primary-dark: rgba(255, 255, 255, 0);
    --primary-darkseagreen: rgb(143, 188, 143);
    --primary-hover-darkseagreen: rgb(19, 61, 19);
}

body {
    font-family: "Roboto Condensed", sans-serif;
}

/* ------------- Navbar -----------------*/


.navbar {
    height: 50px;
}

/* -------------- Menu Links ------------*/
nav a.nav-link {
    /* font-weight: 500 */
    font-size: 1rem;
    letter-spacing: 0.0375rem;
    cursor: pointer;
    font-weight: bold;
}


nav ul li {
    text-transform: uppercase;
}

.navbar-center {
    position: absolute;
    left: 50%;
    transform: translatex(-50%);
}

.navbar-nav > li > a {
    margin-right: 0.75rem;
    margin-left: 0.75rem;
    color: var(--primary-purple) !important;
    /* border-top: 0.1875rem solid var(--primary-dark) in !important; */
    padding-top: 0.19rem;
}

.navbar-brand {
    max-width: 17.25rem;
    padding: 0 in !important;
    height: 6rem;
}

.navbar-nav > li > a.active, .navbar-nav > li > a.active:focus {
    border-top: 0.1875rem solid var(--primary-purple) !important;
}


.navbar-nav > li > a:hover {
    border-top: 0.1875rem solid var(--primary-purple) !important;
}


.bg-color {
    background-color: var(--primary-white) !important;
    color: var(--primary-darkseagreen);
}

/* -=-------------- Header --------------------------*/

.header-wraper {
    position: relative;
    background: no-repeat;
    background-image: url(piano-g2be4e22d3_1920.png);
    background-size: cover;
    background-position: center;
    height: 90vh; 
}

.main-info {
    display: flex; 
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-family: "Oswald", sans-serif;
}

.main-info h1 {
    color: var(--primary-purple);
    /* text-transform: u; */
}

/*-----------------Typed Text --------------*/
.typed-text {
    font-size: 3rem;
    font-family: "Oswald" sans-serif;
    font-weight: bold;
    letter-spacing: 20px;
    color: rgb(241, 241, 241);
}

/* ---------------- Header Main Offer Button --------------------*/
.btn-main-offer {
    border: 1px solid var(--primary-darkseagreen);
    text-transform: uppercase;
    border-radius: 0;
    padding: 0.625rem 0.75rem 0.75rem 0.75rem;
    color: var(--primary-white);
    margin: 2rem;
}

.tsparticles-canvas-el {
    position: absolute;
    height: 10vh;
    width: 100vw;
    z-index: inherit;
}

.fadein {
    font-size: 50px;
}