@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100&family=Oswald:wght@200&family=Roboto+Condensed:wght@300&display=swap');

:root {
    --primary-white: #fff;
    --primary-black: #000;
    --primary-purple: #8a868f;
    --primary-dark: rgba(255, 255, 255, 0);
    --primary-darkseagreen: rgb(143, 188, 143);
    --primary-hover-darkseagreen: rgb(19, 61, 19);
}

body {
    font-family: "Roboto Condensed", sans-serif;
}

/* ------------- Navbar -----------------*/


.navbar {
    height: 60px;
}

/* -------------- Menu Links ------------*/
nav a.nav-link {
    /* font-weight: 500 */
    font-size: 1rem;
    letter-spacing: 0.0375rem;
    cursor: pointer;
    font-weight: bold;
    padding-bottom: 1.5rem;
}


nav ul li {
    text-transform: uppercase;
}

.navbar-center {
    position: absolute;
    left: 50%;
    transform: translatex(-50%);
}

.navbar-nav > li > a {
    margin-right: 0.75rem;
    margin-left: 0.75rem;
    color: var(--primary-black) !important;
    /* border-top: 0.1875rem solid var(--primary-dark) in !important; */
    margin-top: 0.2rem;
    padding-bottom: 1rem;
}

.navbar-brand {
    max-width: 17.25rem;
    padding: 0 in !important;
    height: 6rem;
}

.navbar-nav > li > a.active, .navbar-nav > li > a.active:focus {
    border-top: 0.1875rem solid var(--primary-black) !important;
}


.navbar-nav > li > a:hover {
    border-bottom: 0.1rem solid var(--primary-black) !important;
    /* font-size: 1.3rem; */
}


.bg-color {
    background-color: var(--primary-white) !important;
    color: var(--primary-darkseagreen);
}

/* -=-------------- Header --------------------------*/

.container {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    z-index: 0;
}

.content {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0px;
    top: 0px;
    z-index: 1000;
}

.container h2 {
    position: absolute;
    top: 50%;
    line-height: 100px;
    height: 90px;
    margin-top: -50px;
    font-size: 90px;
    width: 100%;
    text-align: center;
    color: transparent;
    animation: BlurFadeInOut 2s ease-in backwards;
}

.container h2.frame-1 {
    animation-delay: 0s;
} 

.container h2.frame-2 {
    animation-delay: 6s;
} 

.container h2.frame-3 {
    animation-delay: 9s;
} 

.globe {
    position: absolute;
    width: 282px;
    height: 273px;
    left: 50%;
    top: 50%;
    margin: -137px 0 0 -141px;
    background: transparent;
    animation: fadeInBack 3.6s linear 14s backwards;
    filter: alpha(opacity=30);
    opacity: 0.3;
    transform: scale(5);
}

.header-wraper {
    position: relative;
    background: no-repeat;
    background-image: url(piano-g2be4e22d3_1920.png);
    background-size: cover;
    background-position: center;
    height: 90vh; 
}

.main-info {
    display: flex; 
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 0;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-family: "Oswald", sans-serif;
}

.main-info h2 {
    position: absolute;
    top: 50%;
    line-height: 100px;
    height: 90px;
    margin-top: -50px;
    font-size: 90px;
    width: 100%;
    text-align: center;
    color: transparent;
    animation: BlurFadeInOut 2s ease-in backwards;
}

.main-info h2.frame-1 {
    animation-delay: 0s;
}

.main-info h2.frame-2 {
    animation-delay: 2s;
    
}

.main-info h2.frame-3 {
    animation-delay: 4s;


}


@keyframes BlurFadeInOut {
    0%
    {
        opacity: 0;
        text-shadow: 0px 0px 40px #fff;
        transform: scale(1.3);
    }
    20%, 75%
    {
        opacity: 1;
        text-shadow: 0px 0px 1px #fff;
        transform: scale(1);
    }
    100%
    {
        opacity: 0;
        text-shadow: 0px 0px 50px #fff;
        transform: scale(0);
    }
}

@keyframes blurFadeIn {
    0%
    {
        opacity: 0;
        text-shadow: 0px 0px 40px #fff;
        transform: scale(1.1);
    }
    50%
    {
        opacity: 0.5;
        text-shadow: 0px 0px 10px #fff;
        transform: scale(1.1);
    }
    100%
    {
        opacity: 1;
        text-shadow: 0px 0px 1px #fff;
        transform: scale(1);
    }
}

@keyframes fadeInBack {
    0%
    {
        opacity: 0;
        transform: scale(0);
    }    
    50%
    {
        opacity: 0.4;
        transform: scale(2);
    }
    100%
    {
        opacity: 0.2;
        transform: scale(5);
    }
}

/*-----------------Typed Text --------------*/
.typed-text {
    font-size: 3rem;
    font-family: "Oswald" sans-serif;
    font-weight: bold;
    letter-spacing: 20px;
    color: rgb(241, 241, 241);
}

/* ---------------- Header Main Offer Button --------------------*/
.btn-main-offer {
    border: 1px solid var(--primary-darkseagreen);
    text-transform: uppercase;
    border-radius: 0;
    padding: 0.625rem 0.75rem 0.75rem 0.75rem;
    color: var(--primary-white);
    margin: 2rem;
}

.tsparticles-canvas-el {
    position: absolute;
    height: 10vh;
    width: 100vw;
    z-index: inherit;
}

.fadein {
    font-size: 50px;
}